<form action="/named-cat" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="cool name fam">
  <button type="submit" value=Submit> Submit a cat name, go on, I dare you. </button>
</form>